@import "partials/color";
@import "partials/placeholders";
@import "partials/text";
@import "partials/mixins";
@import "partials/buttons";

header {
	@extend %d-flex;
	background-color: $secondary-color;
	padding: 20px;

	img {
		height: 50px;
	}

	nav {
		li {
			@extend %spacing, %btn-generic;
			display: inline-block;
		}
	}
}

body {
	font-family: $main-font;
}

#hero {
	@extend %spacing, %d-flex;
	margin-block: 20px;
	background-color: $bg-hero;
	justify-content: space-evenly;
	h1 {
		@extend %spacing;
		font-size: 3rem;
		color: $secondary-color;
	}
	p {
		@extend %spacing;
		font-size: 1.5rem;
		color: $secondary-color;
	}

	img {
		// border-radius: 50px;
		@include floating();
	}
}
